* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: LightYellow;
}

img {
    max-width: 100px;
    max-height: 100px;
}

/*input, select, textarea {
    color: grey;
}*/

/*input:focus {
    color: black;
}*/

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    border: 1px dotted red;
}

.img-cards {
    margin: 5px;
    width: 200px;
    height: 200px;
    background-color: white;
    /*border: 1px solid black;*/
}

.thumbnail-container {
    width: 200px;
    height: 100px;
    border: 1px solid grey;
}

.thumbnail-desc {
    width: 200px;
    height: 100px;
}
